@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'verdana', sans-serif;
    margin: 0;
    width: 100vw;
    line-height: 1.5;
}

ul{
    margin:0;
}

/* Header */
.cabecalho{
    font-weight: 300;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: black;
    letter-spacing: 4px;

    width: 100%;
    height: auto;  
}

.cabecalho-cabecalho{
    position: fixed;
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
    
}


.cabecalho-logo{
    padding: 10px 15px;
}

.cabecalho-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho-links > ul{
    display: flex;
}

.cabecalho-links li{
    list-style-type: none;
    margin-left: 1rem;
    padding: 10px 15px;
}

.cabecalho-links a{
    color: black;
}

.cabecalho-logo:hover,
.cabecalho-links li:hover{
    background-color: #CCCCCC;
}

/* Imagem com texto dentro */

.cabecalho-imagem-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    width: 100vw;
 
    font-size: 2rem;
    color: white;
    letter-spacing: 4px;

    position: relative;
}

.cabecalho-imagem-texto > span{
    position: absolute;
}
.cabecalho-imagem-texto strong{
    background-color: rgba(0, 0, 0, 0.767);
    color: rgba(255, 255, 255, 0.788);
    padding: 10px 15px;
}

.cabecalho-imagem-texto > img{
    max-width: 100%;   
    
}



/* Conteudo principal */

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: inherit;

    margin: 45px 0px;
    
    width: 100%;
}

.secao-projetos{
    width: 100%;
    padding: 8px 16px;
}

.titulo{
    width: 100%;
    padding: 16px 16px;
    margin-bottom: 32px;
}
.titulo > h1{
    padding: 20px 0px;
    font-size: 21px;
    font-weight: lighter;
    border-bottom: 1px solid #cccccc41;
}

.secao-projetos-primeira, 
.secao-projetos-segunda {
    width: 100%;
    display: flex;
    align-items: center;   
        
    padding: 0px 8px 15px;
}

.secao-projetos-primeira > div, 
.secao-projetos-segunda > div {

    display: inline-block;
    box-sizing: inherit;
    
    align-items: center;
    

    background-size: cover;
    background-position: center;

    max-height: 206px;
    max-width: 310px;
    
    width: 100%;
    height: 100%;
    
    margin: 0px 8px;
}


.projetos{
    position: relative;
}
.projetos h1{
    position: absolute;
    left: 0;
    top: 0;
    
    margin: 0;
    
    font-size: 15px;
    font-weight: 400;

    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    
}


/* Seção sobre */

.secao-sobre{
    width: 100%;
    padding: 8px 16px;
}

.secao-sobre-paragrafo{
    padding: 0px 8px 15px;
}

.secao-sobre-paragrafo>p{
    text-align: justify;
    font-size: 15px;
}

.equipe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipe-colaboradores{
    display: flex;
    flex-direction: column;

    padding: 0px 8px;
}

.equipe-colaboradores > img {
    width: 100%;
    filter: grayscale(80%)
}

.equipe-colaboradores > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000000;

    margin: 10px 0px;
}

.equipe-colaboradores p:not(:nth-child(4)){
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    margin: 15px 0px;
}

.equipe-colaboradores > p{
    font-size: 15px;
    margin: 15px 0px;
    text-align: left;    
}

.equipe-colaboradores > input{
    border: none;
    padding: 8px 16px;

    font-size: 15px;

    cursor: pointer;
}


/* Seção contato*/


.secao-contato{
    width: 100%;
    padding: 30px 32px;
   
}

.titulo-contato{
    width: 100%;
    
    margin-bottom: 0px;
}
.titulo-contato > h1{
    padding: 20px 0px;
    font-size: 24px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #cccccc41;
}

.secao-contato-paragrafo{
   font-size: 15px;
}

.secao-contato-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.secao-contato-form .input-contato{
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 15px;

    border: 1px solid #cccccc;
}

.secao-contato-form .input-contato:focus{
    border: 1px solid #000;
    border-radius: 2px;
}

.secao-contato-form .botao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.secao-contato-form .btn-contato{
    padding: 10px 20px;
    border: none;
    margin-top: 20px;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: white;

    cursor: pointer;    
}

.secao-contato-form .btn-contato:hover{
    background-color: #CCCCCC;
    color: black;
}

.imagem-final{
    width: 100%;
    margin-top: 32px 0px;
}