@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'verdana', sans-serif;
    margin: 0;
    width: 100vw;
    
}

ul{
    margin:0;
}

/* Header */
.cabecalho{
    font-weight: 300;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: black;
    letter-spacing: 4px;
    padding: 0px 20px;

    width: 100%;
    height: auto;
    /* border-bottom: 1px solid black; */

}

.cabecalho-cabecalho{
    width: 100%;
     margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cabecalho-logo{
    padding: 10px 10px;
}

.cabecalho-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho-links > ul{
    display: flex;
}

.cabecalho-links li{
    list-style-type: none;
    margin-left: 1rem;
    padding: 10px 10px;
}

.cabecalho-links a{
    color: black;
}

.cabecalho-logo:hover,
.cabecalho-links li:hover{
    background-color: #CCCCCC;
}

/* Imagem com texto dentro */

.cabecalho-imagem-texto{
    background-image: url(https://www.w3schools.com/w3images/architect.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 100vw;
    height: 700px;
 

    font-size: 2rem;
    color: white;
    letter-spacing: 4px;
}


.cabecalho-imagem-texto strong{
    background-color: rgba(0, 0, 0, 0.767);
    color: rgba(255, 255, 255, 0.788);
    padding: 10px 15px;
}



/* Conteudo principal */

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center; 
    box-sizing: inherit;

    margin: 45px 0px;
    padding: 0px 15px;
    width: 100vw;
}

.secao-projetos{
    width: 100%;
    flex-direction: column;
}

.secao-projetos > h1{
    width: 100%;
    padding: 20px;

    font-size: 21px;
    font-weight: lighter;
}

.secao-projetos-primeira, 
.secao-projetos-segunda {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:16px;
}

.secao-projetos-primeira > div, 
.secao-projetos-segunda > div {

    display: inline-block;
    box-sizing: inherit;
    
    align-items: center;
    justify-content: space-between;

    background-size: cover;
    background-position: center;

    max-height: 206px;
    max-width: 310px;
    
    width: 100%;
    height: 100%;

    margin-left: 15px ;
    
}

.projetos{
    position: relative;
}
.projetos h1{
    position: absolute;
    left: 0;
    top: 0;
    
    margin: 0;
    
    font-size: 15px;
    font-weight: 400;

    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    
}

