body{
    background-color: darkblue;
    color: white;

}

#infos{
    background-color: darkslateblue;
}

#botao {
    background-color: darkslateblue;
}
#res{
    background-color: darkslateblue;
}
